html, 
body {
	font-family: sans-serif;
	background-color: var(--fon--);
	height: 100%;
}
:root{
	--fon--:rgb(152, 170, 122);
	--container--:rgb(75, 113, 14);
	--white--: #fff;
	--inputFon-btnFon--: rgb(212, 244, 161);
	--textDark-BtnFon--: rgb(37, 59, 1);
	
}
.body__container {
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 40px;
}
.container__todo{
	margin: 0 auto;
	box-sizing: border-box;
	padding: 50px;
	max-width: 80%;
	background-color:  var(--container--);
	border-radius: 25px;
	color: var(--white--);
	display: flex;
	flex-direction: column;
}
.container__title{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 700;
	font-size: 42px;
}
.container__title:not(:last-child){
	margin-bottom: 32px;
}
.container__input {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container__input:not(:last-child){
	margin-bottom: 32px;
}
.container__input input{
	height: 50px;
	width: calc(100% - 100px);
	background-color:  var(--inputFon-btnFon--);
	outline-color: var(--inputFon-btnFon--);
	font-size: 24px;
}
.container__input button{
	height: 56px;
	width: 100px;
	border: none;
	cursor: pointer;
	background-color:  var(--textDark-BtnFon--);
	color: var(--white--);
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}
.container__list {
	list-style: none;
	
}
.container__list li{
	margin-left: -40px;
	font-size: 18px;
	color:  var(--textDark-BtnFon--);
}
.container__list-item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 12px;
}
.delete-btn{
	padding: 10px;
	width: 100px;
	background-color:  var(--inputFon-btnFon--);
	border: none;
	color:  var(--textDark-BtnFon--);
	cursor: pointer;
}

/* -------------------- */
@media (max-width: 767.98px){
	.body__container{
		padding: 20px;
	}
	.container__todo{
		padding: 20px;
	}
	.container__title{
		font-weight: 700;
		font-size: 28px;
	}
	.container__title:not(:last-child){
		margin-bottom: 24px;
	}
	.container__input:not(:last-child){
		margin-bottom: 16px;
	}
	.container__input input{
		height: 30px;
	}
	.container__input button{
		height: 36px;
	}
	.container__input button span{
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: nowrap;
		font-size: 18px;
	}
}
@media (max-width: 448.98px){
	.container__input{
		display: flex;
		flex-wrap: wrap;
	}
	.container__input button{
		width: 100%;
	}
	.container__input input{
		width: 100%;
	}
}